.icon{
    height: 30px;
    width: 40px;
   color:blue;
    padding-left: px; 
   padding-right:10px; 
   
  
   ;
}
.logo{
    display: flex;
    margin-left: 100px;
    padding-bottom: 50px;
   
    
    
}
.container_skills{
    height: 70px;
    width: 427px;
    background-color: #6aad05;

}
.descript-skills{
    margin-left: 180px;
    padding-top: 5px;
    color: black;
  
}
.progress{
    padding-top: 6px;
   


    
}
.h1-skills{
    margin-left: 180px;
    color: black;
}
.p-skills{
    margin-left: 180px;
    padding-bottom: 2
    0px;
}
.divide{
    display:flex;
}
.part2{
    padding-top: 100px;
    padding-bottom: 50px;
}